
<div class="container">
  <div class="jumbotron text-center">
    <h1>Real Solution, bring you the finds</h1>
  </div>

  <div class="row text-left">
  <div class="row">
    <h2 class="mb-3">The list of Properties</h2>
    <ul>
      {{#each home}}
        <div>
         <p>FMLS: {{info.FMLS}}</p>
         <p>Address: {{info.Address}}</p>
         <p>Sub: {{info.Sub}}</p>
         <p>SQFT: {{info.SQFT}}</p>
         <p>Offer: {{o2l}}%</p>
         <br>
        </div>
      {{/each}}
    </ul>
  </div>
 
  <!-- Footer -->
  <footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://github.com/Heicyberg"> Heicyberg</a>
  </div>
  <!-- Copyright -->

  </footer>
<!-- Footer -->
</div>






