<div>
  <div class="jumbotron text-center">
    <h1>Real Solution, bring you the finds</h1>
  </div>
  <div class="homeBlock mt-15 container">
     {{#each info}}
      <div class="homeSection row mt-10 ml-30 mr-30 border border-primary" data-id={{subject}}>
          <div class="col-4">
            <p style="padding-top:2ex">FMLS: {{subject}}</p>
            <p>Address: {{Address}}</p>
            <p>Sub: {{Sub}}</p>
            <p>City:{{City}}</p>
            <p>Zip: {{Zip}}</p>
          </div>
          <div class="col-4">
            <p style="padding-top:2ex">SQFT: {{SQFT}}</p>
            <p>Bedrooms: {{B}}</p>
            <p>Bathrooms: {{B_F}}/{{B_H}}</p>
            <p>Build: {{Y}}</p>
            <p>List Price: ${{Price}}</p>
          </div>
          <div class="col-4">
            <p style="padding-top:2ex">Est offer: {{otl}}%</p>
            <p>Est Rental: ${{est_rent}}</p>
            <p>Est Sale: ${{est_sale}}</p>
            <p>Comps indicator: ${{comp_rental}} / ${{comp_sale}}</p>
            <button class="btn btn-info" data-id={{subject}}>Find Comps</button>
          </div> 
      </div>
     {{/each}}
  </div>
  <!-- Footer -->
  <footer class="page-footer font-small blue">
   <div class="footer-copyright text-center py-3">© 2018 Copyright:
     <a href="https://github.com/Heicyberg"> Heicyberg</a>
   </div>
  </footer>
<!-- Footer -->
</div>
  







